<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="titulo">
        Contacto
      </h2>

      <p class="sangria">
        Ingresa <a href="contacto.html">aquí</a>
      </p>
    </div>

    <div class="col-md-6">
      <h2 class="titulo">
        Conferencias
      </h2>

      <ul>
        <li>
          <a href="http://www.urbancreativity.org/conference-2017.html">
              Lisbon Street Art and Urban Creativity
            </a>
        </li>
        <li>
          <a href="http://www.isupportstreetart.com">
              International Conference 2017
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
